body {
	text-align: center;
}

#header {
	margin-bottom: 1em;
}

#wrapper {
	width:1000px;
	min-width: 1000px;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;

	/* fix max-width incompatibility in IE6 */
	width:expression(document.body.clientWidth > 1000? "1000px": "auto" );
	
	overflow:hidden;
	display:block;
}

#main {
	overflow:hidden;
	display:box;
}

#menu {
	position:relative;
	float:left;  	
	left:0px;
	width:220px;
	margin-right:15px;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	padding: 0px;
}

#menu a, #menu h2 {
	display: block;
	margin: 0;
	padding: 2px 6px;
}

#footer {
	border:none;
	margin-top:15px;
}

#footer .new {
	float:left;
}

.quicklinks {
	clear:both; 
	padding-bottom: 15px
}
.quicklinks span {
	float: right;
}

table.navigation {
	border: 0px;
}

label {
	width:150px;
	float:left;
	margin-top: 0px;
	text-align: right;	
	padding-right: 10px;	
	padding-top: 3px;
}

div.input input[type="checkbox"] {
	margin: 0px;	
}

div.input input[type="checkbox"]{
	margin-top: 5px;
}

div.input strong {
	padding-top: 10px;
}

div {
	text-align: left;
}

div.input {
	float: left;
	margin: 0 !important;	
}

a.menu, a.menu:link, a.menu:visited {display:block; width:150px; height:25px;}

.errors {
	display: block;
	margin-left: 105px;
}

a img {
	border: 0 none;
	vertical-align: middle;
}

li {
	padding-top: 5px;
	text-align: left;
}

ul li {
	margin:0 0 0.25em 0;
	padding:0;
}

table {
	margin: 2px 0 0 0;
	border-collapse: collapse;
	width: 100%
}

table table {
	margin: -5px 0;	
	width: 100%;
}

table td,table th {
	padding: 2px;
}

table td form {
	text-align:center;
	vertical-align: middle;
	margin: 0px;
}

table th {
	text-align: left;
}

.utilbox {width: 18px;}

.dijitArrowButton {
	height: 20px;
}

.dijitTextArea{
	min-height:5.5em !important;
	max-height:22em !important;
	overflow-y: auto !important;
	max-width: 175px;
}

.RichTextEditable{
	min-height:18em !important;
	max-height:18em !important;
}

.flag {
	height: 11px;
	width: 16px;
}

.table-buttons {
	border:none;
}

.table-buttons td {
	border:none;
}

.updated {
	margin-left:2px;
}

.updated td {
	padding:2px 8px;
}